body{
    background-color: black;
}
.nav1{
    background-color: black;
    padding: 1rem;    
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    font-size: 30px;
    position: fixed;
    top: 0px;
}
.nav1b button{
    background-color:blue;
    border-radius: 50px;
    padding: 0.7rem;
    border: none;
    align-items: center;
    color: aliceblue;
    font-size: large;
}
.nav2b button{
    background-color:black;
    border-radius: 50px;
    padding: 0.7rem;
    border: none;
    align-items: center;
    color: aliceblue;
    font-size: large;
} 
.nav3b button{
    background-color:yellow;
    border-radius: 50px;
    padding: 0.7rem;
    border: none;
    align-items: center;
    color: aliceblue;
    font-size: large;
}
.text1 button{
    background-color:red;
    border-radius: 50px;
    padding: 0.7rem;
    border: none;
    align-items: center;
    color: aliceblue;
    font-size: large;
}
.text1{
    background-color: black;
    padding: 1rem;    
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
}
.text1 p{
    background-color:yellow;
    border-radius: 50px;
    padding: 0.7rem;
    border: none;
    align-items: center;
    color: aliceblue;
    font-size: large;
}
.nav2{
    height: 15rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
}
.tabel{
height: 50px;
width: 50px;
margin: 100px;
padding: 100px;
}
.Materi{
    padding: 500px;
    height: 250px;
    width: 250px;
    margin: 500px;
    align-items: center;
    justify-items: center;
}
.Materi h1{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}

#end{
    padding: 1rem;    
    display: flex;
    gap: 2rem;
    width: 100%;
    font-size: 30px;
}
#a{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}
#b{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}
#c{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}
#d{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}
#e{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}